$color-primary: #69f0ae;
$p-light: #9fffe0;
$p-dark: #2bbd7e;
$secondary: #00bfa5;
$s-light: #5df2d6;
$s-dark: #008e76;
$blue: #00b8d4;
$blue-dark: #0088a3;
$blue-light: #62ebff;
$bg: #ffffff;
$bg-variation: #f9f4dd;
$color-grey-light:#f7f7f7;
$black: rgb(82, 81, 81);
$white: rgb(255, 255, 255);
$grid-width:87rem;
$gutter-vertical:8rem;
$gutter-horizontal:5.5rem;

//Fonts
$default-font-size: 1.6rem;
